@import 'tailwindcss';

/* Стили для слайдера с классом team-swiper */
.team-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background: rgba(198, 245, 122, 0.32);
  opacity: 1;
  margin: 0 4px !important;
}

.team-swiper .swiper-pagination-bullet-active {
  background: #C6F57A;
}

/* Стили для кнопок навигации */
.team-swiper .swiper-button-next,
.team-swiper .swiper-button-prev {
  color: #C6F57A;
  background: rgba(198, 245, 122, 0.32);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.team-swiper .swiper-button-next:hover,
.team-swiper .swiper-button-prev:hover {
  background: #C6F57A;
  color: #060807;
}

.team-swiper .swiper-button-next:after,
.team-swiper .swiper-button-prev:after {
  font-size: 18px;
  font-weight: bold;
}
